<% note_link = edit_user_note_path(@user, note) %>

<tr id='note_row_id<%= note.id %>'>
  <td class="delete_icon">
    <%= link_to "", user_note_path(@user, note), method: :delete, class: 'icon-minus-sign', title: 'Delete Note', remote: true,
        confirm: "Are you sure that you want to delete Note ##{note.id}?" %>
  </td>
  <td class="hand_pointer" data-link="<%= note_link %>" width="50px">
    <%= note.id %>
  </td>
  <td class="hand_pointer" data-link="<%= note_link %>" width="175px">
    <%= note.title %>
  </td>
  <td class="hand_pointer" data-link="<%= note_link %>">
    <div class="">
      <div class="more-block">
        <p><%= note.content.html_safe %></p>
      </div>
    </div>
  </td>
  <td class="hand_pointer" data-link="<%= note_link %>" width="125px">
    <%= timeago(note.created_at) %>
  </td>
  <td class="hand_pointer" data-link="<%= note_link %>" width="125px">
   <%= timeago(note.updated_at) %>
  </td>
 <tr>
